body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  max-width: 38rem;
  padding: 0;
  align-items: stretch;


}

.app {
  display: flex;
  position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
}

.nav {
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  background: #3D3D4C;
  color: #EEEEEE;
}

.navList {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 4;
  padding-left: 1em;
  padding-right: 1em;
  background: #2A2B34;
  color: #EEEEEE;
}

.torrentStatusDiv {
  display: flex;
  flex-direction: column;
}

.torrentStatusHeader {
  flex: 1;
}

.torrentStatusProgress {
  flex: 1;
}
